syntax: glob
*~
.idea
.installed.cfg
bin
develop-eggs
docs/*.png
eggs
log.html
node_modules
output.xml
parts
report.html
sauce_connect.log
selenium-screenshot-*.png
src/local_config.coffee
static/js/*
!static/js/backbone*.js
!static/js/jquery*.js
!static/js/handlebars*.js
!static/js/kulku.js
!static/js/leaflet-osm-notes.js
!static/js/leaflet.geometryutil.js
!static/js/leaflet.js
!static/js/leaflet.label.js
!static/js/maas.js
!static/js/moment*.js
!static/js/underscore*.js
!static/js/images
test_functional.tap
testem.json
